script(type="text/javascript", src="/static/linker/js/plugins/jquery.js")
script(type="text/javascript", src="/static/linker/js/plugins/jquery.cookie.js")
script(type="text/javascript", src="/static/linker/js/plugins/react-with-addons.min.js")




script(type="text/javascript", src="/static/js/browserify/main.js")
script(type="text/javascript", src="/static/js/browserify/"+W.request.action+".js")