#sidebar{
	background:@darkgrey;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:260px;
	.mobile-menu-icon{
		display:none;
	}
	#profile-box{
		background:darken(@darkgrey, 5%);
		padding:20px;	
		img{
			vertical-align:top;
			margin-right:6px;
			border-radius:50%;
			border:2px solid @white;
			max-width:40px;
		}		
		#user-details{
			display:inline-block;
			max-width:165px;
			p{
				color:@white;
				font-size:@regularfont;
				margin:5px 0;
			}
			a{
				font-size:@smallfont;
			}
		}
	}
	h2{
		font-size:@biggestfont;
		font-weight:lighter;
		padding:40px 20px 20px 20px;
		color:lighten(@darkgrey, 30%);
		position:relative;
	}
	ul li{
		position:relative;
		padding:20px;
		color:@white;
		border-bottom:1px solid;
		border-bottom-color: lighten(@darkgrey, 10%);
		cursor:pointer;
		.label-action{
			display:none;
			position:absolute;
			color:lighten(@darkgrey, 30%);
			top:22px;
			&:hover{
				color:@white;
			}
		}
		.bicon-acedit{
			right:50px;
		}
		.bicon-trashcan{
			right:20px;
		}		
		&:hover{
			background:lighten(@darkgrey, 4%);
			.label-action{
				display:block;
			}
		}
		
	}
	.label-checkbox{
		display:inline-block;
		height:11px;
		width:11px;
		border:2px solid @lightgreen;
	    position:relative;
	    top:2px;
	    margin-right:6px;
	    border-radius:2px;
	    cursor:pointer;
	    position:relative;
	    &.label-checkbox-on{
			background:@lightgreen;
			&:before{
				position:absolute;
				top:2px;
				left:0;
				font-size:8px;
				color:@white;
			}
		}
	}
	.new-label-action{
		margin:20px 0 0 20px;
		display:inline-block;
		cursor:pointer;
	}
/* Mobile side bar */
	@media all and (min-width: 300px) and (max-width: 800px) {
		
		height:auto;
		width:100%;
		z-index:2;
		.mobile-menu-icon{
			.smooth-transition;
			display:block;
			position:absolute;
			right:8px;
			top: 0;
			color:@white;
			font-size:@regularfont;
			padding:25px 10px 24px 10px;
			cursor:pointer;
			z-index:2;
			&.slideoff{
				right:225px;
				font-size:@smallfont;
			}
		}
		.bookmarks-filters-box{
			.smooth-transition;
			position: fixed;
			right: -260px;
			top: 0;
			background-color: @darkgrey;
			width: 260px;
			height: 100%;
			&.slideoff{
				right:0;
			}
		}		
		#profile-box{
			padding:10px 15px;
			#user-details{
				p{
					margin:2px 0 4px 0;
				}
			}
		}
		h2{
			padding:20px 20px 20px 35px;
			color:@white;
		}
		ul{
			li{
				.label-action{
					display:block;
				}
			}
		}
	}	
}